name: upper-build.yml
on:
  push:
    paths:
      - ".github/workflows/upper-build.yml"
      - "upper/**"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - run: go version
      - uses: actions/setup-go@v5
        with:
          go-version: '1.22'
      - run: go version
